/* MENU */
.contact{
    font-family: Open Sans;
}
.contact .menu .links{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    margin-top: 60px;
    text-decoration: none;
}
.contact .menu .links li{
    list-style: none;
    display: inline;
}
.contact .menu .links li a{
    text-decoration: none;
    color: black;
}
.contact .menu .icons i{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}
.contact .menu .icons{
    text-align: right;    
}
.contact .menu .icons a :hover{
    color: red;
}
/* DATOS DE CONTACTO */
.contact .datos h1{
    font-family: Raleway;
    font-size: 65px;
}
.contact .datos h3{
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
}
.contact .datos h4{
    font-family: Raleway;
    font-size: 20px;
    color: turquoise;
}
.contact .datos h5{
    font-family: Open Sans;
    text-align: left;
    font-size: 16px;
    list-style: none;    
}
.contact .datos h5 a{
    font-weight: lighter;
    text-decoration: none;
    color: black;    
}
.contact h1, .contact h3, .contact .menu ul li{
    text-transform: uppercase;
}