/* GENERAL */
a{
    text-decoration: none;
    color: black
}
li{
    list-style: none;
}
.music{
    background-image: url("../img/emilia-music-top.jpg");
    background-repeat: no-repeat;
    background-size: 100% 190px;
    font-family: Open Sans;
}

/* BANNER */

.music .banner img{
    width: 640px;
}
/* MENU */

.music .menu .links{
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    margin-top: 60px;
}
.music .menu .links li{
    list-style: none;
    display: inline;
}
.music .menu .links li a{
    text-decoration: none;
    color: black;
}

/* ICONS */

.music .icons ul i{
    font-size: 1.2rem;
    text-decoration: none;
    color: black
}
.music .icons{
    text-align: right;
    text-decoration: none;
    color: black;
}
.music .icons a :hover{
    color: red;
}
.music h1{
    font-family: Raleway;
    font-size: 72px;
}

/* PLAYLIST */

.music .playlist .anclas li{
    list-style: none;
}
.music .playlist .anclas li a{
    text-decoration: none;
    color: black;
}
.music .playlist .anclas li a:hover{
    color: orange;
}
.music .playlist h2{
    font-family: Raleway;
}
.music .playlist .album{
    margin-top: 50px;
}
.music .playlist ol{
    list-style-type: decimal-leading-zero;
}
.music h2, .music h1, .music .menu ul li{
    text-transform: uppercase;
}
